# Remeber to put a hard tap after the trigger.
## a better way to denote the transpose
snippet TT
	^{\intercal}
snippet bs
	\backslash
## comment for a section, textwidth = 79
snippet SE
	%------------------------------------------------------------------------------
	%	SECTION <++>
	%------------------------------------------------------------------------------
## comment for a subsection, textwidth = 39
snippet SS
	%---------------------------------------
	%	SUBSECTION <++>
	%---------------------------------------
## comment for a subsubsection, textwidth = 19
snippet S2
	%-------------------
	%	SUBSUBSECTION <++>
	%-------------------
## a better way to write norm
snippet NORM
	\left\lVert <++> \right\rVert
